html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	-ms-overflow-style: none;
}
body::-webkit-scrollbar {
	display: none;
}
.bg-purple {
	background: #262437;
	transition: background 2s ease;
}
.bg-custom {
	/* background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(38,36,55,0.2) 100%), url("https://i.imgur.com/fJMaXjz.jpg"); */
	background: url("assets/bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
}
#mainNav.navbar-shrink {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
#mainNav.navbar-shrink .navbar-brand {
	font-size: 1.5em;
}
.gb {
	background-image: linear-gradient(to right, #499ead, #63409c);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	transition: background-size .5s ease;
}
.gb1 {
	background-image: linear-gradient(to right, #F16A70, #499ead);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 50% 2px;
	transition: background-size .5s ease;
}
.line-v {
	background-image: linear-gradient(to bottom, #499ead, #63409c);
	background-position: bottom;
	background-repeat: no-repeat;
	height: 60px;
	width: 2px;
	transition: background-size .5s ease;
	display: inline-block;
	position: relative;
}
#beranda {
	width: 100%;
	height: 100vh;
}
#beranda .teks {
	text-shadow: 5px 5px 9px #000;
}
#fotoprofil {
	filter: grayscale(20%) brightness(80%);
	object-fit: cover;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	transition: 1s;
}
#textprofil {
	transition: 1s;
}
#pp {
	border-radius: 6% !important;
	object-fit: cover;
	object-position: 0 20%;
}
#profil {
	width: 100%;
}
#profil .paragraf {
	text-indent : 35px;
}
#qrverif {
	height: 200px;
	width:  auto;
}
#portofolio .card {
	transition: 1s ease-in-out;
}
#kontak a {
	text-decoration: none;
	color: #323458;
}
/*--------------------------------------------------------------
# Study
--------------------------------------------------------------*/
.study .study-title {
	font-size: 26px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #050d18;
}
.study .study-item {
	padding: 0 0 20px 20px;
	margin-top: -2px;
	border-left: 2px solid #1f5297;
	position: relative;
}
.study .study-item h4 {
	line-height: 18px;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	color: #050d18;
	margin-bottom: 10px;
}
.study .study-item h5 {
	font-size: 16px;
	background: #e4edf9;
	padding: 5px 15px;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 10px;
}
.study .study-item ul {
	padding-left: 20px;
}
.study .study-item ul li {
	padding-bottom: 10px;
}
.study .study-item:last-child {
	padding-bottom: 0;
}
.study .study-item::before {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50px;
	left: -9px;
	top: 0;
	background: #fff;
	border: 2px solid #1f5297;
}
.card-img-top {
	width: auto;
	object-fit: cover;
	object-position: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #fotoprofil {
		height: 120px;
		width: 120px;
	}
	#pp {
		width: 140px;
		height: 140px;
	}
	.card-img-top {
		height: 190px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #fotoprofil {
		height: 130px;
		width: 130px;
	}
	#pp {
		width: 150px;
		height: 150px;
	}
	.card-img-top {
		height: 190px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#fotoprofil {
		height: 150px;
		width: 150px;
	}
	#pp {
		width: 170px;
		height: 170px;
	}
	.card-img-top {
		height: 210px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #fotoprofil {
		height: 190px;
		width: 190px;
	}
	#pp {
		width: 210px;
		height: 210px;
	}
	.card-img-top {
		height: 250px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#fotoprofil {
		height: 190px;
		width: 190px;
	}
	#pp {
		width: 210px;
		height: 210px;
	}
	.card-img-top {
		height: 250px;
	}
}